<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="#{addguitar.title}"></title>
  </head>
  <body>
  <form action = "MainServlet" method = "POST">
    <code th:text="#{addguitar.name}"></code > <input type = "text" name = "name"  required="required" />
    <br />
    <code th:text="#{addguitar.boardstuff}"></code> <input type = "text" name = "board_stuff" />
    <br />
    <code th:text="#{addguitar.price}"></code> <input type = "number" name = "price"  required="required" />
    <br />
    <code th:text="#{addguitar.date}"></code> <input type= "date" name = "manufactureDate"  required="required"/>
    <br />
    <input type = "submit" id = "addButton" th:value="#{addguitar.btn.add}" />
  </form>
  <form action = "MainServlet" method="GET">
    <input type = "submit" th:value="#{addguitar.btn.show}" />
    <input type = "hidden" name = "show_guitars" value="guitarList"/>
  </form>
  </body>
</html>
