<html>
  <head>
    <title>Guitar Addition</title>
  </head>
  <body>
  <form action = "MainServlet" method = "POST">
    Guitar Name: <input type = "text" name = "name"  required="required" />
    <br />
    Sounding board stuff: <input type = "text" name = "board_stuff" />
    <br />
    Price: <input type = "number" name = "price"  required="required" />
    <br />
    Manufacture Date: <input type= "date" name = "manufactureDate"  required="required"/>
    <br />
    <input type = "submit" id = "addButton" value = "Add guitar" />
  </form>
  <form action = "MainServlet" method="GET">
    <input type = "submit" value = "Show my guitars" />
    <input type = "hidden" name = "show_guitars" value="guitarList"/>
  </form>
  </body>
</html>
