<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{guitarlist.title}"></title>
</head>
<body>
<table>
    <tr>
        <th th:text="#{guitarlist.name}"></th>
        <th th:text="#{guitarlist.boardstuff}"></th>
        <th th:text="#{guitarlist.price}"></th>
        <th th:text="#{guitarlist.date}"></th>
    </tr>

    <th:block th:each="guitar : ${guitarList}">
        <tr>
            <td th:text="${guitar.name}">...</td>
            <td th:text="${guitar.soundBoardStuff}">...</td>
            <td th:text="${guitar.price}">...</td>
            <td th:text="${guitar.getManufactureDate().toString()}">...</td>
        </tr>
    </th:block>
</table>
</body>
</html>
